<div class="flat_area grid_16">
	<h2>Editing Provider</h2>
	<span class="edit_links">
		<%= link_to 'Show', @provider %> |
		<%= link_to 'Back', provider_path %>
	</span>
</div><br />

		<%= render 'form' %>

</div>