<div class="flat_area grid_16">
	<h2>Editing Provider Type</h2>
	<span class="edit_links">
		<%= link_to 'Show', @provider_type %> |
		<%= link_to 'Back', provider_types_path %>
	</span>
</div><br />

<%= render 'form' %>

</div>


