<div id="flat_area grid_16">
	<h2>Editing Financial Assistance Option</h2>
	<span class="edit_links">
		<%= link_to 'Show', @financial_assistance_option %> |
		<%= link_to 'Back', financial_assistance_options_path %>
	</span>
</div>

<%= render 'form' %>

</div>
