<div id="flat_area grid_16">
	<h2><%= @financial_assistance_option_type.name %></h2>
	<span class="edit_links">
		<%= link_to 'Back', financial_assistance_option_types_path %>
	</span>
</div>

<%= render 'form' %>

</div>
