/*--------------------------------
      DataTable
--------------------------------*/


.dataTables_scroll{overflow:hidden;}
.dataTables_wrapper{margin:-1px 0;}
.dataTables_wrapper .ui-widget-header{
	font-weight:normal;
	background-color: #4c5766;
	position:relative;
	padding:10px;
	text-shadow:0px 1px 0px #000;
	}
	
.dataTables_length{
	float:left;
	line-height:20px;
	}

.dataTables_filter{
	float:right;
	line-height:20px;
	width: 180px;
	display:block;
	}
.dataTables_wrapper .dataTables_filter input{
	height:18px;
	display:inline;
	width: 120px;
	}
	
.dataTables_wrapper .ui-widget-header input{
	margin:0 0 0 5px;
    border: 1px solid #000000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;}

.dataTables_wrapper .ui-widget-header select{
	margin:0 5px;
    border: 1px solid #000000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;}

.dataTables_scrollHeadInner {	
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #AAAAAA;
	}
.dataTables_scrollHeadInner table{margin-bottom:0;}
.dataTables_scrollHeadInner table thead tr{margin-right:-1px;}
.dataTables_scrollHeadInner table thead tr th{
border:none;
background:none;
position:relative;}

.DataTables_sort_wrapper{
	background:none;
	padding:10px 5px 10px 20px; 
	text-align:center;
	font-size: 1em;
	color:#333;
	text-shadow: 0 1px 0 #FFFFFF;
	
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #AAAAAA;
	position:relative;
	
	font-weight: normal; 
	}

	
.DataTables_sort_wrapper:hover{color:#0a4e98; cursor:pointer;}
	
.DataTables_sort_wrapper span{ position:absolute; left:5px; top:8px;}

.dataTables_scrollBody table{margin-bottom:0;}
.dataTables_scrollBody tbody tr td{ line-height:20px;}
table.display td{ padding: 3px 10px;}
table.display tr.odd {
background-color: #edf1f3;
border-bottom:1px solid #d8dcde;
}
table.display tr.even {
border-bottom:1px solid #e1e5e7;
}

table.display tr.even:hover,table.display tr.odd:hover{background-color:#E6ECEF;}

.dataTables_info{float:left;  line-height:26px;}
.dataTables_paginate{float:right; margin-right:0px;}
	
.dataTables_wrapper .dataTables_paginate span.fg-button{
	background-image:none;
	background-color:#DFE2E4;
	text-shadow: 0 1px 0 #FFFFFF;
	color:#333;
    border-bottom: 1px solid #aaa;
	border-left:1px solid white;
	border-top:1px solid white;
	border-right:1px solid #aaa;
	padding:3px 10px;
	margin:0;
	filter:none !important;
}
	
.dataTables_wrapper .dataTables_paginate span.first{
    border-left: 1px solid white;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
	
.dataTables_wrapper .dataTables_paginate span.last{
    border-right: 1px solid #fff;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	}

.dataTables_wrapper .dataTables_paginate span.ui-state-disabled{
	opacity:1; 
	color:#888 !important;
	}

.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled{
	background-image:none;
	text-shadow: 0 1px 0 #000;
	background-color: #4C5766;
	border: 1px solid #333333;
    color: #FFFFFF !important;
	opacity:1;}
	
	
.dataTables_wrapper .ui-corner-tl{	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.dataTables_wrapper .ui-corner-bl{
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.box .no_padding .dataTables_wrapper .ui-corner-tl{
	
	color:#333;
	text-shadow: 0 1px 0 #FFFFFF;
	border-left: 1px solid #FFFFFF;
    border-right: 1px solid #AAAAAA;
	border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #AAAAAA;
	background-image:none;
	background-color:#DFE2E4;
	
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	
	}

.no_padding .dataTables_wrapper .ui-corner-tl input,.no_padding .dataTables_wrapper .ui-corner-tl select{border: 1px solid #999; background-color: #fff;}


/* File Browser Style */
ul.jqueryFileTree{margin: 0 0 20px;}
li.expanded ul.jqueryFileTree{margin: 0 0 0px;}
ul.jqueryFileTree li:last-child{ border-bottom:none;}

ul.jqueryFileTree li.expanded > a{ margin-bottom:20px;}

ul.jqueryFileTree li.collapsed:last-child{margin-bottom:0; padding-bottom:0;}
ul.jqueryFileTree li.file:last-child{margin-bottom:0; padding-bottom:2px;}


/*----- End of DataTable -------*/