body{ background-image: url(images/bg_noise.png); }
#myguide{color: #ffffff;}
div{ }
#header{ height: 50px; }
.year { padding: 10px 0px; margin-bottom: 10px; text-align: center;}
.tag { margin: 5px 0px; text-align: center; padding: 10px; }
.stg { margin-bottom: 5px; padding: 15px; font-size: 8pt; }
.stg img{ width: 20px; margin-right: 10px;}
.tasks ul{ list-style: none; }
.tasks ul li input{ margin: 5px; }
.hidden, .button.hidden{ display: none; }

/*button options*/
div.button{
	display: block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	/*white-space: nowrap;*/
	line-height:1.3em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
}

.button:hover, .button.hover {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active {
	top: 1px;
}
.button.year:hover {
	display: block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	/*white-space: nowrap;*/
	line-height:1.3em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: default;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	background-image: url(images/bg_noise.png);
}
.year.button:active,.stg.button:active {
	top: 0px;
}

/*Progress Bar*/
.ui-widget-header {
	background: green;
}
.progressbar{
	margin: 10px 0px 10px 0px;
	height: 10px;
}
.progressbar .ui-widget-header{ background-color: #666; }
/*  Tags  */
.button.all, .progressbar.all .ui-widget-header{ background-color: #e62727; }
.button.graduation, .progressbar.graduation .ui-widget-header { background-color: #ffb515; }
.button.career, .progressbar.career .ui-widget-header { background-color: #1C5EA0; }
.button.gradschool, .progressbar.gradschool .ui-widget-header{ background-color: #9B6CA6; }
.button.all, .progressbar.all .ui-widget-header{ background-color: #3D8336; }




div.button.stg,  div.button.tag, div.button.year{
	height: auto;
	background-position: 0px 0px;
	/*
	height: auto;
	background-position: 0px 0px;
	background-image: none;
	background-repeat: no-repeat;
	-webkit-font-smoothing: none;
	*/
}

div.button.year{
	background-image: url(images/bg_noise.png);
}


/* CUSTOM MYGUIDE */
.flat_area #myguide ul li{
	color: white;
	border-bottom-width: 0px;
	padding: 0px;
	margin: 0px;
	display: list-item;
}
.flat_area #myguide ul li label, .flat_area #myguide ul li input{
	padding: 0px;
	margin: 0px;
}
.flat_area #myguide ul li label{
	margin-left: 10px;
}
.flat_area #myguide ul li{
	margin: 10px 0px;
}
.flat_area #myguide ul li input{
	position: relative;
}
select, input {
  width: auto;
}
.stg .edit {
  position: absolute;
  top: 5px;
  right: 0px;
  cursor: pointer;
}
.year img.add {
  width:26px;
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}
/* Special Chosen Overides */
.flat_area #myguide ul.chzn-results li {
  color: #666;
  padding: 7px 7px 8px;
  margin: 0px;
}
.flat_area #myguide ul.chzn-results li.highlighted {
  color: white;
}
.flat_area #myguide ul.chzn-results li:first-child {
padding-top: 7px;
}

.stg label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.description_dialog{
  display: none;
}
.edit_img{
  width: 15px;
}