.highlight path{
	stroke: gray;
	stroke-width: none;
}
.highlight:hover path{
	stroke-width: 2;
}
.clickable{
	cursor: pointer;
}
#dropdown{
	display: none;
	position: fixed;
	background-color: white;
	width: 300px;

	   -moz-border-radius:9px;
	-webkit-border-radius:9px;
			border-radius:9px;
	/*IE DOES NOT SUPPORT BORDER RADIUS*/
	   -moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
			box-shadow:0px 0px 10px #000000;
	/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	opacity:0.8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/*-ms-filter must come before filter*/
	filter: alpha(opacity=80);
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*All filters must be placed together*/
}
#dropdown ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#dropdown ul li{

	padding: 5px 10px;
	border-bottom: 1px solid #aaaaaa;
	font-size: 0.8em;
	cursor: pointer;
	
	opacity:0.75;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	/*-ms-filter must come before filter*/
	filter: alpha(opacity=75);
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*All filters must be placed together*/
}