.highlight path{
	stroke: gray;
	stroke-width: none;
}
.highlight:hover path{
	stroke-width: 2;
}
.clickable{
	cursor: pointer;
}
#dropdown{
	
}
#dropdown{
	display: none;
	position: fixed;
	background-color: white;
	width: 300px;

	   -moz-border-radius:9px;
	-webkit-border-radius:9px;
			border-radius:9px;
	/*IE DOES NOT SUPPORT BORDER RADIUS*/
	   -moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
			box-shadow:0px 0px 10px #000000;
	/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	opacity:0.8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/*-ms-filter must come before filter*/
	filter: alpha(opacity=80);
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*All filters must be placed together*/
}
#dropdown ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#dropdown ul li{

	padding: 5px 10px;
	border-bottom: 1px solid #aaaaaa;
	font-size: 0.8em;
	cursor: pointer;
	
	opacity:0.75;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	/*-ms-filter must come before filter*/
	filter: alpha(opacity=75);
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*All filters must be placed together*/
}

/* STYLES FOR DATATABLES ON THE LIST VIEW */
.dataTables_wrapper {
	margin: 20px auto;
	width: 95%;
}

button {
	color: white;
	padding: 5px;
}

#top_bar {
	height: 50px; 
	width: 100%; 
  background-color: #eee;
}

#top_bar button {
	margin-top: 12px;
	float: left;
}

#map_title {
	float: right;
}

#filters{
	background-color: #eee; 
	display: none; 
	width: 100%; 
	min-height: 200px; 
	position: fixed; 
	top: 50px; 
	left: 0px;
}
#filters div{
	width: 35%;
	float: left;
}
#filters .autosuggest{
	padding: 0 1%;	
}
#filters .radios{
	width: 25%;
	padding: 25px 0px 0px 10px;
}
#filters .radios span{
	font-size: 15px;
	display: block;
	float: left;
}
#filters .radios span.title{
	width: 40%;
}
#filters .radios span.radio{
	width: 20%;
}
#filters .checkboxes hr{
	margin-top: 15px;
	display: block;
	border-width: 0px;
}
#filters .action_buttons{
	width: 245px;
	position: relative;
	margin: 0px auto;
	clear: both;
	float: none;
}
#filters .action_buttons button{
	margin: 20px 10px;
	padding: 5px;
	width: 100px;
}
#filters input{
	color: rgba(100,100,100, .5);
}
#filters input:focus{
	color: black;
}

/* Fixes for the autosuggest */
ul.as-selections li.as-original input {
	padding: 0px;
}
ul.as-selections.loading {
	background-color: white;
}