<p id="notice"><%= notice %></p>

<div id="flat_area grid_16">
	<h2><%= @state.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_state_path(@state) %> |
		<%= link_to 'Back', states_path %>
	</span>
</div>



