<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @financial_assistance_option_type.name %>
</p>


<%= link_to 'Edit', edit_financial_assistance_option_type_path(@financial_assistance_option_type) %> |
<%= link_to 'Back', financial_assistance_option_types_path %>
