<div class="flat_area grid_16">
	<h2>Editing Industry</h2>
	<span class="edit_links">
		<%= link_to 'Show', @industry %> |
		<%= link_to 'Back', industries_path %>
	</span>
</div><br />

<%= render 'form' %>

</div>
