<p id="notice"><%= notice %></p>

<div class="flat_area grid_16">
	<h2><%= @industry.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_industry_path(@industry) %> |
		<%= link_to 'Back', industries_path %>
	</span>
</div>



