<div class="flat_area grid_16">
	<h2>Humanities Internship Database</h2>
	<iframe id="map_frame" src="/map" width="100%" style="overflow: hidden;">
	  <p>Your browser does not support iframes.</p>
	</iframe>
	<script>
		$('#map_frame').height($(window).height()-50);
		//$('#main_container iframe').contents().find("#FilterToggle").trigger("click")
		//$('#main_container iframe').contents().find("#MapListToggle").trigger("click")
	</script>
	
</div>