<h1>Myguide Admin</h1>

<p>From here you can edit all the data for Myguide.  Click on one of the following links to edit the data.<p>
	
<ul>
	<li><%= link_to "Long Term Goals", long_term_goals_path %></li>
	<li><%= link_to "Short Term Goals", short_term_goals_path %></li>
	<li><%= link_to "Tasks", tasks_path %></li>
	<li><%= link_to "Tags", tags_path %></li>
</ul>