<div class="flat_area grid_16">
	<h2>Humanities Internship Database</h2>
	
	<div id="myguide" class="container_24">
	
		<div id="header" class=""><!--My Guide--></div>
	
		<div class="grid_4 year"></div>
		<div class="grid_5">
			<div class="button year">FIRST YEAR</div>
			<div class="progressbar year1"></div>
		</div>
		<div class="grid_5">
			<div class="button year">SECOND YEAR</div>
			<div class="progressbar year2"></div>
		</div>
		<div class="grid_5">
			<div class="button year">THIRD YEAR</div>
			<div class="progressbar year3"></div>
		</div>
		<div class="grid_5">
			<div class="button year">FOURTH YEAR</div>
			<div class="progressbar year4"></div>
		</div>
	
		<div class="grid_4">
			<div id="all" class="tag button all">All</div>
			<div class="progressbar all"></div>
			<div id="graduation" class="tag button graduation">Graduation</div>
			<div class="progressbar graduation"></div>
			<div id="humanitiesplus" class="tag button humanitiesplus">Humanities +</div>
			<div class="progressbar humanitiesplus"></div>
			<div id="career" class="tag button career">Career</div>
			<div class="progressbar career"></div>
			<div id="lifeskills" class="tag button lifeskills">Life Skills</div>
			<div class="progressbar lifeskills"></div>
		</div>
		<div id="year1_col" class="grid_5"></div>
		<div id="year2_col" class="grid_5"></div>
		<div id="year3_col" class="grid_5"></div>
		<div id="year4_col" class="grid_5"></div>
	
		<div id="progressbar" class="grid_24"></div>
	</div>
</div>


Change the filter to include all majors if it is unspecified