<div class="flat_area grid_16">
	<h2>Editing Internships</h2>
	<span class="edit_links">
		<%= link_to 'Show', @internship %> |
		<%= link_to 'Back', internships_path %>
	</span>
</div><br />
	

		<%= render 'form' %>

</div>