<div class="flat_area grid_16">
	<h2>Editing College</h2>
	<span class="edit_links">
		<%= link_to 'Show', @college %> |
		<%= link_to 'Back', colleges_path %>
	</span>
</div><br />

<%= render 'form' %>

</div>
