<p id="notice"><%= notice %></p>

<div class="flat_area grid_16">
	<h2><%= @college.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_college_path(@college) %> |
		<%= link_to 'Back', colleges_path %>
	</span>
</div>



