<!DOCTYPE html>
<html>
<head>
  <title>Internships</title>
  <%= stylesheet_link_tag    "internships/application", :media => "all" %>
  <%= javascript_include_tag "internships/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
