<html>
<head>
  <title>Internships</title>

	<%= stylesheet_link_tag    "internships/map", :media => "all" %>
	<%= javascript_include_tag "internships/map" %>
	<%= csrf_meta_tag %>
	
</head>
<body>
	<%= yield %>
</body>
</html>