<p id="notice"><%= notice %></p>

<div class="flat_area grid_16">
	<h2><%= @academic_focus_type.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_academic_focus_type_path(@academic_focus_type) %> |
		<%= link_to 'Back', academic_focus_types_path %>
	</span>
</div>
