<div class="flat_area grid_16">
	<h2>Editing Academic Contact</h2>
	<span class="edit_links">
		<%= link_to 'Show', @academic_contact %> |
		<%= link_to 'Back', academic_contacts_path %>
	</span>
</div><br />

<%= render 'form' %>

</div>