<div class="flat_area grid_16">
	<h2>Editing Tag</h2>
	<span class="edit_links">
		<%= link_to 'Show', @tag %> |
		<%= link_to 'Back', tags_path %>
	</span>
</div><br />
		<%= render 'form' %>
</div>
