<div style="height: 50px; width: 100%; border: 0px solid green; background-color: gray;">
	<a href="/"><button>Home</button></a>
	
	<button id="languages" class="filter_button">Languages</button>
	<button id="fields_industries" class="filter_button">Fields &amp; Industries</button>
	<button id="academic_focuses" class="filter_button">Major/Minor</button>
	<button id="providers" class="filter_button">Provider</button>
	<button id="other" class="filter_button">Other</button>
	<button id="MapListToggle">View List</button>
	
</div>
<div id="svg">
	
	<div id="dropdown">
		<ul></ul>
	</div>
	<div id="dialogs" style="display: none">
		
	</div>
	<img 	id="zoomout" style="position: fixed; bottom: 10px; right: 10px;" 	
			src="http://humadvisement.byu.edu/sites/default/files/menu_icons/Internet-Search_64x64.png" />
</div>
<div id="list" style="background-color: white; display: none;">
	<table class="display datatable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Provider</th>
				<th>Location</th>
				<th>Rating</th>
				<th colspan="2">Recommended</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>

<div id="filters" style="background-color: #eee; display: block; width: 100%; height: 200px; position: fixed; top: 50px; left: 0px;">
	<input type="text" name="languages">
	
	
</div>