<div style="height: 50px; width: 100%; border: 0px solid green; background-color: gray;">
	<a href="/">Home</a>
	
	<button>Languages</button>
	<button>Fields &amp; Industries</button>
	<button>Major/Minor</button>
	<button>Provider</button>
	<button>Other</button>
	<button id="MapListToggle">View List</button>
	
</div>
<div id="svg">
	
	<div id="dropdown">
		<ul></ul>
	</div>
	<div id="dialogs" style="display: none">
		
	</div>
	<img 	id="zoomout" style="position: fixed; bottom: 10px; right: 10px;" 	
			src="http://humadvisement.byu.edu/sites/default/files/menu_icons/Internet-Search_64x64.png" />
</div>
<div id="list" style="background-color: white; display: none;">
	<table class="datatable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Provider</th>
				<th>Location</th>
				<th>Rating</th>
				<th colspan="2">Recommended</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>
