<div id="top_bar">
	<a href="/"><button>Home</button></a>

	<button id="MapListToggle">View List</button>
	
	<button id="FilterToggle">Filter</button>

	<h1 id="map_title">Humanities Internship Database</h1>
	
</div>
<div id="svg">
	
	<div id="dropdown">
		<ul></ul>
	</div>
	<div id="dialogs" style="display: none">
		
	</div>
	<img 	id="zoomout" style="position: fixed; bottom: 10px; right: 10px;" 	
			src="http://humadvisement.byu.edu/sites/default/files/menu_icons/Internet-Search_64x64.png" />
</div>
<div id="list" style="background-color: #eee; display: none;">
	<table class="display datatable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Provider</th>
				<th>Location</th>
				<th>Rating</th>
				<th colspan="2">Recommended</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>

<div id="filters">
	<form onSubmit = "return false">
		<div class="autosuggest">
			<label>Languages</label>
			<input id="autosuggest_languages" type="text">
			<label>Fields</label>
			<input id="autosuggest_fields" type="text">
			<label>Industries</label>
			<input id="autosuggest_industries" type="text"> <br />
		</div>
		<div class="autosuggest">
			<label>Providers</label>
			<input id="autosuggest_providers" type="text">
			<label>Locations</label>
			<input id="autosuggest_locations" type="text">
			<label>Major/Minor</label>
			<input id="autosuggest_academic_focuses" type="text">
		</div>
		<div class="radios">
			<span class="title">For Credit:</span>
			<span class="radio"><input type="radio" name="for_credit" value="true" /> Yes</span>
			<span class="radio"><input type="radio" name="for_credit" value="false" /> No</span>
			<span class="radio"><input type="radio" name="for_credit" value="null" checked /> Neither</span>
			<span class="title">Part Time:</span>
			<span class="radio"><input type="radio" name="part_time" value="true" /> Yes</span>
			<span class="radio"><input type="radio" name="part_time" value="false" /> No</span>
			<span class="radio"><input type="radio" name="part_time" value="null" checked /> Neither</span>
			<span class="title">Full Time:</span>
			<span class="radio"><input type="radio" name="full_time" value="true" /> Yes</span>
			<span class="radio"><input type="radio" name="full_time" value="false" /> No</span>
			<span class="radio"><input type="radio" name="full_time" value="null" checked /> Neither</span>
			<span class="title">US Citizenship:</span>
			<span class="radio"><input type="radio" name="us_citizenship" value="true" /> Yes</span>
			<span class="radio"><input type="radio" name="us_citizenship" value="false" /> No</span>
			<span class="radio"><input type="radio" name="us_citizenship" value="null" checked /> Neither</span>
			<span class="title">Paid:</span>
			<span class="radio"><input type="radio" name="paid" value="true" /> Yes</span>
			<span class="radio"><input type="radio" name="paid" value="false" /> No</span>
			<span class="radio"><input type="radio" name="paid" value="null" checked /> Neither</span>
		</div>	
		<div class="action_buttons">
			<button id="apply_filters">Apply Filters</button>
			<button id="reset_filters">Reset Filters</button>
		</div>
	</form>
</div>
