<div id="top_bar">
	<a href="/"><button>Home</button></a>

	<button id="MapListToggle">View List</button>
	
	<button id="FilterToggle">Filter</button>

	<h1 id="map_title">Humanities Internship Database</h1>
	
</div>
<div id="svg">
	
	<div id="dropdown">
		<ul></ul>
	</div>
	<div id="dialogs" style="display: none">
		
	</div>
	<img 	id="zoomout" style="position: fixed; bottom: 10px; right: 10px;" 	
			src="http://humadvisement.byu.edu/sites/default/files/menu_icons/Internet-Search_64x64.png" />
</div>
<div id="list" style="background-color: #eee; display: none;">
	<table class="display datatable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Provider</th>
				<th>Location</th>
				<th>Rating</th>
				<th colspan="2">Recommended</th>
			</tr>
		</thead>
		<tbody id="list_view_body">

		</tbody>
	</table>
</div>

<div id="filters">
	<form onSubmit = "return false">
		<div class="autosuggest">
			<label>Languages</label>
			<input id="autosuggest_languages" type="text">
			<label>Fields</label>
			<input id="autosuggest_fields" type="text">
			<label>Industries</label>
			<input id="autosuggest_industries" type="text"> <br />
		</div>
		<div class="autosuggest">
			<label>Providers</label>
			<input id="autosuggest_providers" type="text">
			<label>Locations</label>
			<input id="autosuggest_locations" type="text">
			<label>Major/Minor</label>
			<input id="autosuggest_academic_focuses" type="text">
		</div>
		<div class="checkboxes">
			<input id="for_credit" type="checkbox">For Credit <hr />
			<input id="part_time" type="checkbox">Part Time <hr />
			<input id="full_time" type="checkbox">Full Time <hr />
			<input id="us_citizenship" type="checkbox">US Citizenship<hr />
			<input id="paid" type="checkbox">Paid<hr />
		</div>
		<div class="action_buttons" style="clear: both;">
			<button id="apply_filters">Apply Filters</button>
			<button id="reset_filters">Reset Filters</button>
		</div>
	</form>
</div>
