<div class="flat_area grid_16">
	<h2>Editing Location</h2>
	<span class="edit_links">
		<%= link_to 'Show', @location %> |
		<%= link_to 'Back', locations_path %>
	</span>
</div><br />

<%= render 'form' %>

</div>
