<!--
<ul class="clearfix">
	<li>
		<a herf="#"><img src="<%= grey_icon_path %>/Blocks%20Images.png" />List View</a>
	</li>
	<li>
			<%= link_to internship_dashboard_path do %>
					<img src="<%= grey_icon_path %>/Blocks%20Images.png" />
					Filter
			<% end %>
		
	</li>
</ul>

-->