	<style>
		#dialog .edit_links{
			display: none;
		}
	</style>
	<script>
		$(function(){
			$('#dialog form').submit(function() {
				$.ajax({
					type: $(this).attr('method'),
				   	url: $('#dialog form').attr('action'),
				   	data: $(this).serialize(),
				   	success: function(data){
						$("#dialog").dialog('close');
				   	},
				   	error: function(){
						alert( "ERROR!");
				   	}
				});
				return false;
			});
		});
	</script>

	<div id="wrapper">
		<div id="main_container" class="main_container container_16 clearfix" style="margin: 0px;">
		<!--<div id="main_container" class="main_container container_16 clearfix" style="margin-left: 4%; margin-right: 4%;">-->
			<div class="flat_area ">
				<%= yield %>
			</div>	
		</div>
	</div>
