<div class="flat_area grid_16">
	<h2>Editing Academic Focus Type</h2>
	<span class="edit_links">
		<%= link_to 'Show', @academic_focus_type %> |
		<%= link_to 'Back', academic_focus_types_path %>
	</span>
</div><br />

<%= render 'form' %>

</div>